html {
    font-size: 10px; /* px mean "pixels", the base font size is now 10 pixels high. */
    font-family: "Source Sans Pro", sans serif; /* this should be rest of the output you got from Google fonts */
}

h1 {
    font-size: 90px;
    text-align: center;
    margin: 0px;
    padding: 20px 0;
    color: #eb5122;
    text-shadow: 2px 2px 1px #ceaa3f;
}

p, li {
     font-size: 18px;
     line-height: 1.5;
     letter-spacing: 3px;

}

figcaption {
    font-size: 16px;
    text-align: center;
}

html {
    background-color: #dfab63;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #daa579;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(135deg, #d36678, #ceaa3f, #e15721);
}